---
Language: C
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterStruct: false
  AfterEnum: false
  BeforeElse: false
IndentWidth: 4
SpaceBeforeParens: ControlStatements
---
