prefer-no-csd
screenshot-path "~/Pictures/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

environment {
    _JAVA_AWT_WM_NONREPARENTING "1"
    AWT_TOOLKIT "MToolkit"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

input {
    keyboard {
        repeat-rate 35
        repeat-delay 250
        xkb {
            layout "us"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-speed 0.7
        accel-profile "flat"
    }
}

layout {
    gaps 5
    center-focused-column "never"
    background-color "transparent"
    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    shadow {
        on
        softness 20
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    tab-indicator {
        width 2
        gap -5
        gaps-between-tabs 5
        corner-radius 10
        active-color "#fff"
        inactive-color "#ffffff55"
    }

    focus-ring {
        on
        width 1
        active-color "#555"
        inactive-color "#222"
    }

    border {
        off
        width 1
        active-color "#61afef"
        inactive-color "#282c34"
    }
}

animations {
	on
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
}

window-rule {
    match app-id=r#"waterfox$"# title="^Picture-in-Picture$"
    match app-id=r#"chromium$"# title="^Picture-in-Picture$"
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    match app-id=r#"burp-StartBurp$"#
    open-floating true
}

window-rule {
    match app-id=r#"waterfox$"#
    match app-id=r#"librewolf$"#
    match app-id=r#"foot"#
    match app-id=r#"st-256color"#
    match app-id=r#"org.telegram.desktop$"#
    match app-id=r#"chromium$"#
    match app-id=r#"org.gnome.Evince$"#
    match app-id=r#"org.gnome.Nautilus$"#
    match app-id=r#"burp-StartBurp$"#
    match app-id=r#"obsidian$"#
    open-maximized true
}

window-rule {
    match app-id=r#"org.quickshell$"#
    match app-id=r#"com.danklinux.dms$"#
    open-floating true
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry false
}

spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "dms" "run"

binds {
    Mod+Shift+S { spawn "~/dotfiles/scripts/ss.sh"; }
    Mod+Shift+W { spawn "dms restart"; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    //Mod+Return { spawn "foot"; }
    // Mod+d { spawn-sh "wofi show drun"; }
    Mod+Shift+P { spawn "wlogout"; }
    Mod+b { spawn "librewolf"; }
    // Mod+e { spawn "thunar"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O { toggle-overview; }
    Mod+Q { close-window; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Shift+H    { move-column-left; }
    Mod+Shift+L    { move-column-right; }
    Mod+Shift+J    { move-window-down-or-to-workspace-down; }
    Mod+Shift+K    { move-window-up-or-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+V     { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Mod+Shift+E { quit; }
}

include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"
