@import ".config/wofi/colors.css";

window {
  margin: 0px;
  /* Deep bluish-black background */
  background-color: #1a1b26; 
  /* Ultra thin, dark border so it doesn't "pop" too much */
  border: 1px solid #24283b; 
  border-radius: 10px;
  font-family: "Ioskeley Mono";
	font-weight: bold;
  font-size: 14px;
}

#outer-box {
  margin: 10px;
  border: none;
  background-color: transparent;
}

#input {
  margin: 5px;
  padding: 10px;
  border: none;
  /* Darker than the window for that "recessed" look */
  background-color: #16161e;
  color: @foreground;
  border-radius: 5px;
}

#inner-box {
  margin-top: 10px;
  border: none;
  background-color: transparent;
}

#entry {
  padding: 8px;
  margin: 2px 0px;
  border-radius: 5px;
  background-color: transparent;
}

/* The selection: Blue-tinted charcoal instead of a bright color */
#entry:selected {
  background-color: #24283b; 
  outline: none;
}

#text:selected {
  /* Only the text gets the bright Tokyo Blue to guide your eye */
  color: #7aa2f7; 
  font-weight: bold;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  color: #9aa5ce; /* Slightly dimmed text for the "minimal" feel */
}
