window-rule {
    match app-id=r#"waterfox$"# title="^Picture-in-Picture$"
    match app-id=r#"chromium$"# title="^Picture-in-Picture$"
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    match app-id=r#"burp-StartBurp$"#
    open-floating true
}

window-rule {
    match app-id=r#"waterfox$"#
    match app-id=r#"librewolf$"#
    match app-id=r#"foot"#
    match app-id=r#"st-256color"#
    match app-id=r#"org.telegram.desktop$"#
    match app-id=r#"chromium$"#
    match app-id=r#"org.gnome.Evince$"#
    match app-id=r#"org.gnome.Nautilus$"#
    match app-id=r#"burp-StartBurp$"#
    match app-id=r#"obsidian$"#
    open-maximized true
}

window-rule {
    match app-id=r#"org.quickshell$"#
    match app-id=r#"com.danklinux.dms$"#
    open-floating true
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry false
}

